[Background]
Color=<%= Undefined.light.bg.to_a.join(',') %>

[BackgroundFaint]
Color=<%= Undefined.light.bg.to_a.join(',') %>

[BackgroundIntense]
Color=<%= Undefined.light.bg.to_a.join(',') %>

[Color0]
Color=<%= Undefined.light.bg.to_a.join(',') %>

[Color0Faint]
Color=<%= Undefined.light.bg.to_a.join(',') %>

[Color0Intense]
Color=<%= Undefined.light.gray2.to_a.join(',') %>

[Color1]
Color=<%= Undefined.light.red1.to_a.join(',') %>

[Color1Faint]
Color=<%= Undefined.light.red1.to_a.join(',') %>

[Color1Intense]
Color=<%= Undefined.light.red0.to_a.join(',') %>

[Color2]
Color=<%= Undefined.light.lime1.to_a.join(',') %>

[Color2Faint]
Color=<%= Undefined.light.lime1.to_a.join(',') %>

[Color2Intense]
Color=<%= Undefined.light.lime0.to_a.join(',') %>

[Color3]
Color=<%= Undefined.light.yellow1.to_a.join(',') %>

[Color3Faint]
Color=<%= Undefined.light.yellow1.to_a.join(',') %>

[Color3Intense]
Color=<%= Undefined.light.yellow0.to_a.join(',') %>

[Color4]
Color=<%= Undefined.light.orange1.to_a.join(',') %>

[Color4Faint]
Color=<%= Undefined.light.orange1.to_a.join(',') %>

[Color4Intense]
Color=<%= Undefined.light.orange0.to_a.join(',') %>

[Color5]
Color=<%= Undefined.light.purple1.to_a.join(',') %>

[Color5Faint]
Color=<%= Undefined.light.purple1.to_a.join(',') %>

[Color5Intense]
Color=<%= Undefined.light.purple0.to_a.join(',') %>

[Color6]
Color=<%= Undefined.light.cyan1.to_a.join(',') %>

[Color6Faint]
Color=<%= Undefined.light.cyan1.to_a.join(',') %>

[Color6Intense]
Color=<%= Undefined.light.cyan0.to_a.join(',') %>

[Color7]
Color=<%= Undefined.light.gray4.to_a.join(',') %>

[Color7Faint]
Color=<%= Undefined.light.gray4.to_a.join(',') %>

[Color7Intense]
Color=<%= Undefined.light.fg.to_a.join(',') %>

[Foreground]
Color=<%= Undefined.light.fg.to_a.join(',') %>

[ForegroundFaint]
Color=<%= Undefined.light.fg.to_a.join(',') %>

[ForegroundIntense]
Color=<%= Undefined.light.fg.to_a.join(',') %>

[General]
Description=UndefinedDark
Opacity=1
Wallpaper=
