[Background]
Color=<%= Undefined.dark.bg.to_a.join(',') %>

[BackgroundFaint]
Color=<%= Undefined.dark.bg.to_a.join(',') %>

[BackgroundIntense]
Color=<%= Undefined.dark.bg.to_a.join(',') %>

[Color0]
Color=<%= Undefined.dark.bg.to_a.join(',') %>

[Color0Faint]
Color=<%= Undefined.dark.bg.to_a.join(',') %>

[Color0Intense]
Color=<%= Undefined.dark.gray2.to_a.join(',') %>

[Color1]
Color=<%= Undefined.dark.red1.to_a.join(',') %>

[Color1Faint]
Color=<%= Undefined.dark.red1.to_a.join(',') %>

[Color1Intense]
Color=<%= Undefined.dark.red0.to_a.join(',') %>

[Color2]
Color=<%= Undefined.dark.lime1.to_a.join(',') %>

[Color2Faint]
Color=<%= Undefined.dark.lime1.to_a.join(',') %>

[Color2Intense]
Color=<%= Undefined.dark.lime0.to_a.join(',') %>

[Color3]
Color=<%= Undefined.dark.yellow1.to_a.join(',') %>

[Color3Faint]
Color=<%= Undefined.dark.yellow1.to_a.join(',') %>

[Color3Intense]
Color=<%= Undefined.dark.yellow0.to_a.join(',') %>

[Color4]
Color=<%= Undefined.dark.orange1.to_a.join(',') %>

[Color4Faint]
Color=<%= Undefined.dark.orange1.to_a.join(',') %>

[Color4Intense]
Color=<%= Undefined.dark.orange0.to_a.join(',') %>

[Color5]
Color=<%= Undefined.dark.purple1.to_a.join(',') %>

[Color5Faint]
Color=<%= Undefined.dark.purple1.to_a.join(',') %>

[Color5Intense]
Color=<%= Undefined.dark.purple0.to_a.join(',') %>

[Color6]
Color=<%= Undefined.dark.cyan1.to_a.join(',') %>

[Color6Faint]
Color=<%= Undefined.dark.cyan1.to_a.join(',') %>

[Color6Intense]
Color=<%= Undefined.dark.cyan0.to_a.join(',') %>

[Color7]
Color=<%= Undefined.dark.gray4.to_a.join(',') %>

[Color7Faint]
Color=<%= Undefined.dark.gray4.to_a.join(',') %>

[Color7Intense]
Color=<%= Undefined.dark.fg.to_a.join(',') %>

[Foreground]
Color=<%= Undefined.dark.fg.to_a.join(',') %>

[ForegroundFaint]
Color=<%= Undefined.dark.fg.to_a.join(',') %>

[ForegroundIntense]
Color=<%= Undefined.dark.fg.to_a.join(',') %>

[General]
Description=UndefinedDark
Opacity=1
Wallpaper=
