{
    "theme": {
      "font-family": "<%= fontname %>",
      "font-size": "14px",
      "prompt-font-size": "20px",
      "entries-preformatted-font-family": "<%= fontname %>",
      "background-color": "<%= Undefined.light.bg %>",
      "prompt-background-color": "<%= Undefined.light.bg %>",
      "prompt-color": "<%= Undefined.light.cyan0 %>",
      "prompt-over-limit-color": "<%= Undefined.light.red0 %>",
      "input-color": "<%= Undefined.light.fg %>",
      "input-not-found-color": "<%= Undefined.light.red0 %>",
      "input-history-color": "<%= Undefined.light.orange0 %>",
      "counters-color": "<%= Undefined.light.lime0 %>",
      "input-background-color": "<%= Undefined.light.bg %>",
      "entries-background-color-gradient-start": "<%= format("rgba(%d,%d,%d,0)", *Undefined.light.bg) %>",
      "entries-background-color-gradient-end": "<%= format("rgba(%d,%d,%d,1)", *Undefined.light.bg) %>",
      "entries-color": "<%= Undefined.light.gray4 %>",
      "entries-alternate-color": "<%= Undefined.light.gray4 %>",
      "entries-hl-color": "<%= Undefined.light.red0 %>",
      "entries-alternate-hl-color": "<%= Undefined.light.red0 %>",
      "entries-background-color": "<%= Undefined.light.altbg %>",
      "entries-hl-background-color": "<%= Undefined.light.altbg %>",
      "entries-alternate-background-color": "<%= Undefined.light.bg %>",
      "entries-alternate-hl-background-color": "<%= Undefined.light.bg %>",
      "selected-entry-color": "<%= Undefined.light.fg %>",
      "selected-entry-hl-color": "<%= Undefined.light.red0 %>",
      "selected-entry-background-color": "<%= Undefined.light.gray1 %>",
      "selected-entry-hl-background-color": "<%= Undefined.light.gray1 %>"
    }
}
