[ColorEffects:Disabled]
Color=<%= Undefined.light.bg.to_a.join(',') %>
ColorAmount=0.65
ColorEffect=2
ContrastAmount=0.65
ContrastEffect=0
IntensityAmount=0.1
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=0,0,0
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.4
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=<%= Undefined.light.bg.to_a.join(',') %>
BackgroundNormal=<%= Undefined.light.gray1.to_a.join(',') %>
DecorationFocus=<%= Undefined.light.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.light.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.light.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.light.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.light.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.light.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.light.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.light.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.light.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.light.purple0.to_a.join(',') %>

[Colors:Complementary]
BackgroundAlternate=<%= Undefined.light.gray0.to_a.join(',') %>
BackgroundNormal=<%= Undefined.light.bg.to_a.join(',') %>
DecorationFocus=<%= Undefined.light.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.light.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.light.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.light.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.light.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.light.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.light.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.light.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.light.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.light.purple0.to_a.join(',') %>

[Colors:Selection]
BackgroundAlternate=<%= Undefined.light.gray1.to_a.join(',') %>
BackgroundNormal=<%= Undefined.light.gray0.to_a.join(',') %>
DecorationFocus=<%= Undefined.light.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.light.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.light.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.light.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.light.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.light.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.light.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.light.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.light.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.light.purple0.to_a.join(',') %>

[Colors:Tooltip]
BackgroundAlternate=<%= Undefined.light.gray0.to_a.join(',') %>
BackgroundNormal=<%= Undefined.light.bg.to_a.join(',') %>
DecorationFocus=<%= Undefined.light.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.light.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.light.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.light.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.light.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.light.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.light.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.light.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.light.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.light.purple0.to_a.join(',') %>

[Colors:View]
BackgroundAlternate=<%= Undefined.light.bg.to_a.join(',') %>
BackgroundNormal=<%= Undefined.light.altbg.to_a.join(',') %>
DecorationFocus=<%= Undefined.light.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.light.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.light.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.light.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.light.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.light.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.light.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.light.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.light.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.light.purple0.to_a.join(',') %>

[Colors:Window]
BackgroundAlternate=<%= Undefined.light.gray0.to_a.join(',') %>
BackgroundNormal=<%= Undefined.light.bg.to_a.join(',') %>
DecorationFocus=<%= Undefined.light.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.light.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.light.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.light.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.light.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.light.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.light.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.light.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.light.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.light.purple0.to_a.join(',') %>

[General]
ColorScheme=UndefinedLight
Name=UndefinedLight
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=<%= Undefined.light.bg.to_a.join(',') %>
activeBlend=<%= Undefined.light.fg.to_a.join(',') %>
activeForeground=<%= Undefined.light.fg.to_a.join(',') %>
inactiveBackground=<%= Undefined.light.bg.to_a.join(',') %>
inactiveBlend=<%= Undefined.light.gray4.to_a.join(',') %>
inactiveForeground=<%= Undefined.light.gray4.to_a.join(',') %>
