[ColorEffects:Disabled]
Color=<%= Undefined.dark.bg.to_a.join(',') %>
ColorAmount=0.65
ColorEffect=2
ContrastAmount=0.65
ContrastEffect=0
IntensityAmount=0.1
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=0,0,0
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.4
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=<%= Undefined.dark.bg.to_a.join(',') %>
BackgroundNormal=<%= Undefined.dark.gray1.to_a.join(',') %>
DecorationFocus=<%= Undefined.dark.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.dark.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.dark.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.dark.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.dark.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.dark.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.dark.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.dark.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.dark.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.dark.purple0.to_a.join(',') %>

[Colors:Complementary]
BackgroundAlternate=<%= Undefined.dark.gray0.to_a.join(',') %>
BackgroundNormal=<%= Undefined.dark.bg.to_a.join(',') %>
DecorationFocus=<%= Undefined.dark.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.dark.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.dark.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.dark.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.dark.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.dark.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.dark.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.dark.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.dark.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.dark.purple0.to_a.join(',') %>

[Colors:Selection]
BackgroundAlternate=<%= Undefined.dark.gray1.to_a.join(',') %>
BackgroundNormal=<%= Undefined.dark.gray0.to_a.join(',') %>
DecorationFocus=<%= Undefined.dark.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.dark.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.dark.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.dark.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.dark.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.dark.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.dark.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.dark.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.dark.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.dark.purple0.to_a.join(',') %>

[Colors:Tooltip]
BackgroundAlternate=<%= Undefined.dark.gray0.to_a.join(',') %>
BackgroundNormal=<%= Undefined.dark.bg.to_a.join(',') %>
DecorationFocus=<%= Undefined.dark.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.dark.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.dark.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.dark.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.dark.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.dark.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.dark.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.dark.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.dark.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.dark.purple0.to_a.join(',') %>

[Colors:View]
BackgroundAlternate=<%= Undefined.dark.bg.to_a.join(',') %>
BackgroundNormal=<%= Undefined.dark.altbg.to_a.join(',') %>
DecorationFocus=<%= Undefined.dark.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.dark.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.dark.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.dark.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.dark.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.dark.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.dark.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.dark.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.dark.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.dark.purple0.to_a.join(',') %>

[Colors:Window]
BackgroundAlternate=<%= Undefined.dark.gray0.to_a.join(',') %>
BackgroundNormal=<%= Undefined.dark.bg.to_a.join(',') %>
DecorationFocus=<%= Undefined.dark.red0.to_a.join(',') %>
DecorationHover=<%= Undefined.dark.purple0.to_a.join(',') %>
ForegroundActive=<%= Undefined.dark.orange0.to_a.join(',') %>
ForegroundInactive=<%= Undefined.dark.gray4.to_a.join(',') %>
ForegroundLink=<%= Undefined.dark.cyan0.to_a.join(',') %>
ForegroundNegative=<%= Undefined.dark.red0.to_a.join(',') %>
ForegroundNeutral=<%= Undefined.dark.yellow0.to_a.join(',') %>
ForegroundNormal=<%= Undefined.dark.fg.to_a.join(',') %>
ForegroundPositive=<%= Undefined.dark.lime0.to_a.join(',') %>
ForegroundVisited=<%= Undefined.dark.purple0.to_a.join(',') %>

[General]
ColorScheme=UndefinedDark
Name=UndefinedDark
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=<%= Undefined.dark.bg.to_a.join(',') %>
activeBlend=<%= Undefined.dark.fg.to_a.join(',') %>
activeForeground=<%= Undefined.dark.fg.to_a.join(',') %>
inactiveBackground=<%= Undefined.dark.bg.to_a.join(',') %>
inactiveBlend=<%= Undefined.dark.gray4.to_a.join(',') %>
inactiveForeground=<%= Undefined.dark.gray4.to_a.join(',') %>
