diff --git a/config.def.h b/config.def.h
index 823e79f..f90091c 100644
--- a/config.def.h
+++ b/config.def.h
@@ -85,30 +85,26 @@ unsigned int tabspaces = 8;
 /* Terminal colors (16 first used in escape sequence) */
 static const char *colorname[] = {
 	/* 8 normal colors */
-	"black",
-	"red3",
-	"green3",
-	"yellow3",
-	"blue2",
-	"magenta3",
-	"cyan3",
-	"gray90",
+	"<%= Undefined.dark.bg %>",
+	"<%= Undefined.dark.red1 %>",
+	"<%= Undefined.dark.lime1 %>",
+	"<%= Undefined.dark.yellow1 %>",
+	"<%= Undefined.dark.orange1 %>",
+	"<%= Undefined.dark.purple1 %>",
+	"<%= Undefined.dark.cyan1 %>",
+	"<%= Undefined.dark.gray4 %>",
 
 	/* 8 bright colors */
-	"gray50",
-	"red",
-	"green",
-	"yellow",
-	"#5c5cff",
-	"magenta",
-	"cyan",
-	"white",
+	"<%= Undefined.dark.gray2 %>",
+	"<%= Undefined.dark.red0 %>",
+	"<%= Undefined.dark.lime0 %>",
+	"<%= Undefined.dark.yellow0 %>",
+	"<%= Undefined.dark.orange0 %>",
+	"<%= Undefined.dark.purple0 %>",
+	"<%= Undefined.dark.cyan0 %>",
+	"<%= Undefined.dark.fg %>",
 
 	[255] = 0,
-
-	/* more colors can be added after 255 to use with DefaultXX */
-	"#cccccc",
-	"#555555",
 };
 
 
@@ -116,10 +112,10 @@ static const char *colorname[] = {
  * Default colors (colorname index)
  * foreground, background, cursor, reverse cursor
  */
-unsigned int defaultfg = 7;
+unsigned int defaultfg = 15;
 unsigned int defaultbg = 0;
-static unsigned int defaultcs = 256;
-static unsigned int defaultrcs = 257;
+static unsigned int defaultcs = 15;
+static unsigned int defaultrcs = 0;
 
 /*
  * Default shape of cursor
